
@{
    Layout = null;
}
@model CacheDesign.Models.Product
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetail</title>
</head>
<body>
    <div> 
        @Model.ProductName
    </div>
</body>
</html>
